body {
    margin: 0;
}

.header {
    height: 80px;
}

.header .header-block {
    width: 1000px; 
    /* margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
    margin-bottom: 0; */

    /* margin: top right bottom left */
    /* margin: 0 200px 0 200px; */

    /* margin: topbottom rightleft */
    margin: 0 auto;
}

.header-block .logo {
    width: 200px;
    float: left;
}

.header-block .menu {
    width: 600px;
    float: left;
}

.menu ul {
    text-decoration: none;
    margin-top: 35px;
}

.menu ul li {
    list-style-type: none;
    float: left;
    margin: 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.menu ul li:hover {
    color: red;
}

.header-block .social-media {
    width: 200px;
    float: left;
}

.social-media img {
    float: left;
}

.slider {
    height: 400px;
}

.slider-block {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    background-image: url(http://placeimg.com/1000/400/nature);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.slider-block h4 {
    font-size: 16px;
}

.slider-block h3 {
    font-size: 22px;
}

.slider-block p {
    font-size: 12px;
}

.content {
    height: 350px;
}

.content-block {
    background: lightseagreen;
    width: 1000px;
    margin: 20px auto;
}

.card {
    width: 320px;
    float: left;
    margin-right: 20px;
}

.card:nth-child(3) {
    margin-right: 0;
}

.card-content {
    text-align: center;
}

.card-content button {
    border: 0;
    width: 100px;
    height: 30px;
    background: brown;
    margin-top: 20px;
    color: #fff;
}

.card-content h4 {
    margin: 15px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.card-content p {
    font-size: 12px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}

.footer {
    background: gray;
}

.footer-block {
    background: magenta;
    width: 1000px;
    margin: 0 auto;
}